* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
}

body .animation {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
}

body .animation .lineOfTextWrapper {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}

body .animation .lineOfTextWrapper .lineOfText {
  width: auto;
  height: fit-content;
  position: relative;
  font-size: 100px;
  overflow: hidden;
}

body .animation .lineOfTextWrapper .lineOfText::before {
  content: "";
  width: 110%;
  height: 175%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  transform: rotate(-7deg) translateY(0%);
  z-index: 1000;
}

body .animation .lineOfTextWrapper:nth-child(1) .lineOfText:before {
  animation: disapearCover 800ms forwards ease-in;
}

body .animation .lineOfTextWrapper:nth-child(2) .lineOfText:before {
  animation: disapearCover 800ms forwards ease-in 200ms;
}

body .animation .lineOfTextWrapper:nth-child(3) .lineOfText:before {
  animation: disapearCover 800ms forwards ease-in 300ms;
}

@keyframes disapearCover {
  0% {
  }
  100% {
    transform: rotate(0deg) translateY(150%);
  }
}

body .animation .lineOfTextWrapper .lineOfText p.content {
  display: flex;
  align-items: center;
}

body .animation .lineOfTextWrapper .lineOfText p.content span.part {
  line-height: 1;
}

body .animation .lineOfTextWrapper:nth-child(1) .lineOfText p.content span.part:nth-child(1) {
  transform: translateY(50%);
  animation: apearText 800ms forwards 250ms;
}

body .animation .lineOfTextWrapper:nth-child(1) .lineOfText p.content span.part:nth-child(2) {
  transform: translateY(75%);
  animation: apearText 800ms forwards 250ms;
}

body .animation .lineOfTextWrapper:nth-child(1) .lineOfText p.content span.part:nth-child(3) {
  transform: translateY(25%);
  animation: apearText 800ms forwards 250ms;
}

body .animation .lineOfTextWrapper:nth-child(2) .lineOfText p.content span.part:nth-child(1) {
  transform: translateY(50%);
  animation: apearText 800ms forwards 250ms;
}

body .animation .lineOfTextWrapper:nth-child(2) .lineOfText p.content span.part:nth-child(2) {
  transform: translateY(75%);
  animation: apearText 800ms forwards 250ms;
}

body .animation .lineOfTextWrapper:nth-child(2) .lineOfText p.content span.part:nth-child(3) {
  transform: translateY(50%);
  animation: apearText 800ms forwards 250ms;
}

body .animation .lineOfTextWrapper:nth-child(3) .lineOfText p.content span.part:nth-child(1) {
  transform: translateY(100%);
  animation: apearText 800ms forwards 250ms;
}

body .animation .lineOfTextWrapper:nth-child(3) .lineOfText p.content span.part:nth-child(2) {
  transform: translateY(200%);
  animation: apearText 800ms forwards 250ms;
}

@keyframes apearText {
  0% {
  }
  100% {
    transform: translateY(0%);
  }
}
